.contact {
    flex: 1;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact .wrapper {
    font-size: 2rem;
    max-width: 1300px;
    display: flex;
    gap: 4rem;
}

.contact .wrapper div h3 {
    margin-bottom: 1rem;
}